[submodule "data/repos/skills"]
	path = data/repos/skills
	url = https://github.com/anthropics/skills.git
[submodule "data/repos/claude-cookbooks"]
	path = data/repos/claude-cookbooks
	url = https://github.com/anthropics/claude-cookbooks.git
[submodule "data/repos/prompt-eng-interactive-tutorial"]
	path = data/repos/prompt-eng-interactive-tutorial
	url = https://github.com/anthropics/prompt-eng-interactive-tutorial.git
[submodule "data/repos/courses"]
	path = data/repos/courses
	url = https://github.com/anthropics/courses.git
[submodule "data/repos/claude-plugins-official"]
	path = data/repos/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
